body {
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

label {
    font-size: 1.7em;
}

.button-login {
    margin-top: 20vh;
}

.footer, .header {
    padding: 2vh 2vh 2vh 2vh;
}

.usersonline {
}

.margin-box {
    margin-top: 2vh;
}

.card {
    border: none;
    border-radius: 1vh;
    -webkit-box-shadow: 0 20px 30px rgba(0,0,0,.2);
    box-shadow: 0 20px 30px rgba(0,0,0,.2);
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
    -ms-flex-direction: inherit;
    flex-direction: inherit;
}

/*
.padding {
    padding: 5vh;
}
*/
.signup {
    background: #007bff;
    color: #FFF;
    border-radius: 0 1vh 1vh 0;
}

.form-signup {
    color: #FFFFFF !important;
}

.element {
    padding: 5vh;
}

.btn {
    margin-right: 1vh;
}

.chat {
    background: #240b36;
}

/*
.chat-footer {
    height: 100%;
    position: absolute;
}


 */

li.list-group-item.messages.bg-info.text-light.wow.animated.fadeInUp {
    border-radius: 5vh;
    margin: 1vh;
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.5);
    background-color: rgba(52,152,219,0.5) !important;
}

.messageBot {
    margin: 1vh 45% 1vh 1vh;
    padding: 2vh;
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.5);
    border-radius: 5vh 5vh 5vh 0;
    background-color: rgba(52,152,219,0.5) !important;
    color: #FFF;
}

.messageUser {
    padding: 2vh;
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.5);
    background: #240b36;
    margin: 1vh 1vh 1vh 45%;
    border-radius: 5vh 5vh 0 5vh;
    color: #FFF;
}

.messageOtherUser {
    background: #c31432!important;
    border-radius: 5vh 5vh 5vh 0;
    margin: 1vh 45% 1vh 1vh;
    padding: 2vh;
    -webkit-box-shadow: 0 1px 10px 1px rgba(0,0,0,.5);
    box-shadow: 0 1px 10px 1px rgba(0,0,0,.5);
    color: #FFF;
}

.content {
    overflow: hidden;
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.data-target {
    overflow-y: scroll;
    position: relative;
    height: 75vh;
    text-align: left;
}

.data-target::-webkit-scrollbar {
    -webkit-appearance: none;
}

.data-target::-webkit-scrollbar:vertical {
    width: 11px;
}

.data-target::-webkit-scrollbar:horizontal {
    height: 11px;
}

.data-target::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.message-hour {
    font-size: 0.7em;
}

.btn-logout {
    cursor: pointer;
}
