body {
    margin-top: 8vh;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

label {
    font-size: 2em;
}

.button-login {
    margin-top: 22vh;
}

.footer, .header {
    padding: 2vh;
}

.header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.usersonline {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.margin-box {
    margin-top: 2vh;
}

.card {
    /*border: 1px solid rgba(0, 0, 0, 0.1);*/
    border: none;
    border-radius: 1vh;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    margin-bottom: 10vh;
    margin-top: 10vh;
    flex-direction: inherit;
}

.padding {
    padding: 5vh;
}

.signup {
    background: #007bff;
    color: #FFF;
    border-radius: 0 1vh 1vh 0;
}

.form-signup {
    color: #FFFFFF !important;
}

.element {
    padding: 5vh;
}

.btn {
    margin-right: 1vh;
}

.chat-footer {
    height: 100%;
    position: absolute;
}

.content {
    min-height: 56vh;
    margin-left: 2vh;
    margin-right: 2vh;
}

.data-target {
    overflow-y: scroll;
    position: relative;
    height: 71.9vh;
    text-align: left;
}

.data-target::-webkit-scrollbar {
    -webkit-appearance: none;
}

.data-target::-webkit-scrollbar:vertical {
    width: 11px;
}

.data-target::-webkit-scrollbar:horizontal {
    height: 11px;
}

.data-target::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.message-hour {
    font-size: 0.7em;
}

.btn-logout {
    cursor: pointer;
}
